:root{
  --shadow: 3px 0 5px rgb(0, 0, 0);
  

}

.container{
  padding: 1em;
  box-shadow: var(--shadow);
  margin: 1em;
  flex-wrap: wrap;
}
.card{
  background-color: rgb(255, 255, 255);
  padding: .5em;
  box-shadow: var(--shadow);
  margin: 1em;
}

.card-inner{
  background-color: rgba(70, 56, 155, 0.575);
  padding: .5em;
  box-shadow: var(--shadow);
  margin: .5em;
}

.text-hand{
  font-family: Long Cang;
  font-size: larger;
}

.card-img{
  padding: 1em;
  box-shadow: var(--shadow);
  margin: 1em;
  background-image: url("coins.jpg");
  }

  .d-flex{
    display: flex;
    align-items: center;
  }

  .d-flex-shrink{
    flex-shrink: 1;
  }